*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Heebo", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  cursor: pointer;
}

.main_container {
  width: 100%;
  height: 100%;
  background-color: #c5e4e7;
  display: grid;
  place-content: center;
}

.sub_container {
  background-color: #ffffff;
  width: 45rem;
  height: 80%;
  border-radius: 10px;
  display: grid;
  place-content: center;
  padding-bottom: 10rem;
  margin-top: 20rem;
}

.percentage {
  /* margin: 10rem; */
  width: 38rem;
  height: 45rem;
  text-align: left;
  color: #869b9b;
  margin-top: 6rem;
  padding-left: 3rem;
}
.displayborad {
  padding-top: 5rem;
  width: 38rem;
  height: 40rem;
  margin: 0 auto;
  background-color: #00474b;
  color: white;
  text-align: center;
  border-radius: 10%;
  margin-top: 5rem;
}

input {
  width: 75%;
  height: 3rem;
  background-color: #f3f8fb;
  cursor: pointer;
  margin-top: 0;
  margin-bottom: 1rem;
}

input:hover {
  border: 0.3rem solid #75beb6;
  border-radius: 5px;
  /* background-color: #f3f8fb; */
}

.tipButtonDiv {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  width: 25rem;
}

.tipButton {
  width: 13rem;
  height: 4rem;
  cursor: pointer;
  border-radius: 5px;
  background-color: #00474b;
  color: white;
  font-size: 2rem;
}

.tipButton:hover {
  background-color: #26c2ad;
  color: #00484a;
}

.tipButton {
  margin-top: 2rem;
  width: 75%;
  background-color: #0d686d;
}

.tipAmountDisplay {
  display: flex;
  justify-content: space-between;
  width: 30rem;
  padding: 2rem;
  margin-left: 3.5rem;
}
.tipAmountDisplayh3 {
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 1.3rem;
}
.tipAmountDisplayp {
  margin-top: 0;
  padding-top: 0;
  font-size: 1rem;
}

.amountFigure {
  color: #26c2ad;
  font-size: 3.5rem;
}

@media (min-width: 720px) {
  .sub_container {
    display: flex;
    justify-content: space-around;
    width: 100rem;
    height: 100vh;
    align-items: center;
    padding-top: 20rem;
  }
  .percentage {
    margin-bottom: 20rem;
    margin-left: 5rem;
    padding-top: 5gitrem;
  }
  .sub_container {
    width: 90rem;
    height: 55rem;
    margin-bottom: 20rem;
    /* padding-top: -10rem; */
  }
  .displayborad {
    margin-bottom: 10rem;
  }
}
