*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: "Courier New", Courier, monospace;
}

.main_container {
  background-color: #c5e4e7;
  display: grid;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.sub_container {
  background-color: #ffffff;
  width: 60rem;
  border-radius: 10%;
  height: 70rem;
}

.percentage {
  margin: 10rem;
  width: 40rem;
  text-align: center;
}
.displayborad {
  margin: 10rem;
  width: 40rem;
  background-color: #00474b;
  color: white;
  text-align: center;
  border-radius: 10%;
}
